* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}
a:hover{
    color: #c1c1c1;
}
li {
    list-style: none;
}
html {
    font-size: 62.5%;
}
body{
    background-color: #0E1014;
    color: #E4E5EA;
    font-size: 1.6rem;
    position: relative;
}
.bg{
    z-index: -100;
    position: absolute;
    border-radius: 50%;
}
.purple_ball{
    width: 83px;
    height: 83px;
    left: 36%;
    top: 8.5%;

    background-image: radial-gradient(64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.536) 0%,
    rgba(212, 93, 93, 0.264) 59.67%,
    rgba(167, 49, 49, 0.248) 78.59%,
    rgba(130, 25, 25, 0.248) 100%) ;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25); 
    backdrop-filter: blur(2px);
}
.red_ball{
    width: 60px;
    height: 60px;
    top: -0.2%;
    left: 60.3%;

    z-index: -100;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
}
.red_ball_2{
    width: 28px;
    height: 28px;
    top: 55.7%;
    left: 59%;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
}
.purple_light{
    position: absolute;
    width: 259px;
    height: 259px;
    top: -16%;
    left: 42%;

    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px); 
}
.red_light{ 
    width: 311px;
    height: 311px; 
    top: 25%;
    left: -7%;

    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
}
.purple_resp{
    position: absolute;
    width: 259px;
    height: 259px;
    left: 258px;
    z-index: -100;
    top: 107px;

    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
}
.red_resp{
    position: absolute;
    width: 211px;
    height: 210px;
    left: -55px;
    z-index: -100;
    top: 241px;

    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
}
.red_b_resp{
    position: absolute;
    width: 43px;
    height: 43px;
    left: 29px;
    top: 402px;
    z-index: -100;
    border-radius: 50%;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
}
.purple_b_resp{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 296px;
    top: 236px;
    border-radius: 50%;
    z-index: -100;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
}

.container{
    padding: 0 1.5rem;
    max-width: 114rem;
    margin: 0 auto;
}
.header_resp, .box_resp, .bg_resp{
    display: none;
}


/* HEADER */


header{
    padding-top: 4.6rem;
}
.header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_text{
    font-size: 1rem;
    margin-top: 1rem;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 1.2rem;
}

.nav_ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.4rem;
}
.nav_ul li{
    margin-bottom: 0;
}
.nav_link{
    font-weight: 500;
}
.nav_ul li:not(:last-child) {
    margin-right: 3rem;
}
.contacts{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 3.4rem;
}
.contacts *{
    display: inline;
}
.tel{
    font-weight: 500; 
} 
.contacts_icons a:not(:last-child){
    margin-right: 3.4rem;
}

/* MAIN */

main {
    position: relative;
    padding: 9.4rem 0 12.4rem 0;
    overflow: hidden;
}

.main_wrap{
    display: flex;
    justify-content: space-between;
}
h1 {
    font-size: 4.8rem;
    margin-bottom: 3rem;
}
#welbex_width {
    font-weight: 900;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
}
.heading_desc {
    font-family: 'Montserrat';
    font-size: 18px;
}

.main_box {
    text-align: right;
}
.main_title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4rem;
}
#free_cons {
    font-size: 18px;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.box_items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-bottom: 6rem;
}
.box_item {
    max-width: 14rem;
}
.box_title{
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
    text-transform: uppercase;
}
.box_desc{
    font-family: 'Montserrat'; 
}
.btn{
    font-weight: 500;
    padding: 2.1rem 3.4rem;
    background-color: #4077F3;
    transition: all 0.6s;
}
.btn:hover{
    color: #fbfbff;
    background-color: #345bb7;
}

/* FOOTER */
footer{
    padding-bottom: 2rem;
}
.footer_wrap {
    display: flex;
    justify-content: space-between;
}
.footer_contact{
    text-align: right;
}
.footer_title{
    font-weight: 700;
    font-size: 14px; 
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #656566;
    margin-bottom: 2rem;
}
.menu_ul{
    display: flex;
    gap: 5.2rem;
}
li{
    margin-bottom: 10px;
}
.footer_icons{
    margin: 2rem 0;
}
.footer_icons a{
    margin-left: 1.4rem;
}
.coopyright{
    margin-top: 7rem;
    font-family: 'Montserrat';
    text-align: right;
    font-size: 1.2rem;
}
.coopyright_text{
    margin-bottom: 0.5rem;
    font-weight: 400;
}
.coopyright_link{
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: underline;
}

@media (max-width: 1060px) {
    html {
        font-size: 50%;
    } 
} 

@media (max-width: 920px) {
    .contacts  {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0;
    }

} 

@media (max-width: 520px){
    .bg_resp{
        display: block;
    }
    header{
        padding-top: 0;
        background: #000;
    }
    .header_wrap{
        display: none;
    }
    .btn{
        display: none;
    }
    main {
        padding: 40px 0 60px 0;
    }
    .bg{
        display: none;
    }
    .header_resp{
        display: block;
        padding: 20px 0 20px 0; 
    }
    .header_resp_link{
        display: flex;
        gap: 20px;
    }
    .box_resp{
        display: block;
    }
    .header_resp_wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .logo_resp{
        margin-right: 30px;
    }
    .nav_resp{
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
    }
    .box_items{
        display: none;
    }
    .main_wrap {
        display: flex;
        flex-direction: column;
        gap: 45px; 
    }
    .main_box{
        text-align: left;
    }
    .main_title{
        margin-bottom: 20px;
    }
    .box_resp_ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .box_resp_li{
        font-family: 'Montserrat';
        font-size: 13px;
        text-transform: uppercase;
        padding-left: 15px;
        background-image: url('./img/line.png');
        background-repeat: no-repeat;
        background-position-y: center;
    }
    footer{
        background: #000;
        padding: 40px 0 60px 0;
    }
    .footer_wrap { 
        flex-direction: column;
        gap: 30px;
    }
    .footer_title{
        font-size: 12px;
    }
    a{
        font-size: 14px;
    }
    .footer_contact{
        text-align: left;
    }
    .footer_icons a {
        margin-left: 0;
        margin-right: 14px;
    }
    .coopyright {
        margin-top: 50px; 
        text-align: left; 
    }
}